

<div class="container">
    <div class="row">
        <div class="col-sm-10">
            {% if page.summary %}
            <h4>Summary</h4>
            <div class="well">{{ page.summary }}</div>
            {% endif %}
            <h4>Basic Stats</h4>
            <table class="table">
                    <tr>
                      <th>Processor</th>
                      <td>{{ page.cpu_model }}</td>
                      <th>Memory</th>
                      <td>{{ page.memory }}</td>
                    </tr>
                    <tr>
                          <th>Speed</th>
                          <td>{{ page.cpu_speed }}</td>
                          <th>Storage</th>
                          <td>{{ page.storage }}</td>
                    </tr>
                    <tr>
                        <th>Threads</th>
                        <td>{{ page.cpu_threads }}</td>
                        <th>Operating System</th>
                        <td>{{ page.operating_system }}</td>
                  </tr>
            </table>
        </div>
    </div>
    {% if page.images %}
    <h4>Images</h4>
    <div class="row">
      <div class="col-sm-10">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% assign count = 0 %}
                {% for image in page.images %}
                <li data-target="#carousel-example-generic" data-slide-to="{{ count }}" {% if count == 0 %} class="active"{% endif %}></li>
                {% assign count = count | plus: 1 %}
                {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% assign count = 0 %}
                {% for image in page.images %}
                <div class="item {% if count == 0 %}active{% endif %}">
                    <img src="{{ site.url }}/assets/media/computers/{{ image }}" alt="...">
                </div>
                {% assign count = count | plus: 1 %}
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"></a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"></a>
        </div> <!-- Carousel -->
        </div>
    </div>
    {% endif %}
</div>

{{ content }}

