

<div class="container">
    {% if page.images %}
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% assign count = 0 %}
                {% for image in page.images %}
                <li data-target="#carousel-example-generic" data-slide-to="{{ count }}" {% if count == 0 %} class="active"{% endif %}></li>
                {% assign count = count | plus: 1 %}
                {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% assign count = 0 %}
                {% for image in page.images %}
                <div class="item {% if count == 0 %}active{% endif %}">
                    <img src="{{ site.url }}/assets/media/computers/{{ image }}" alt="...">
                </div>
                {% assign count = count | plus: 1 %}
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="fa fa-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="fa fa-chevron-right"></span>
            </a>
        </div> <!-- Carousel -->
        </div>
    </div>
    {% endif %}
</div>

{{ content }}

